.contact-box {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid black;
}

.contact-box:hover {
  background-color: #d4cece;
}

.contact-avatar {
  flex: 1;
  padding: 10px;
  cursor: pointer;
}

.contact-text {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
}

.contact-name {
  align-self: center;
  font-size: large;
}

.contact-number {
  align-self: center;
  font-size: large;
}

.contact-edit,
.contact-delete {
  flex: 1;
  align-self: center;
}
