.sidebar {
  flex: 2;
  display: flex;
  flex-direction: column;
}
.navbar {
  flex: 2;
  display: flex;
  background-color: grey;
  /* flex-direction: column; */
  justify-content: space-evenly;
  align-items: center;
  /* min-height: 150px; */
}
.search-bar {
  justify-content: center;
  width: 60%;
  border-radius: 25px;
  background-color: rgb(219, 219, 219);
  padding: 12px;
}
.search-bar > input {
  width: 100%;
  border: none;
  outline: 0px;
  background-color: transparent;
  font-size: large;
}
.add-contact {
  background-color: #dae6f1;
  border-radius: 100%;
}
.contact-list {
  flex: 10;
  display: flex;
  flex-direction: column;
  background-color: rgb(165, 164, 164);
  /* height: calc(100vh - 150px); */
  overflow-y: scroll;
  /* scrollbar-color: grey; */
}
