.contactinfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  /* padding: 10px; */
}

#base-contact-button {
  font-size: 18px;
  margin-top: 10px;
  padding: 5px;
  background-color: #fff;
  border: 1px solid grey;
  border-radius: 25px;
  width: 20%;
  color: #000;
}

#base-contact-button:hover {
  border: none;
  padding: 6px;
  background-color: #8ac2f7;
  color: #fff;
}

.contact-wrapper-add,
.contact-wrapper-edit {
  max-width: 60%;
  background-color: rgb(245, 245, 245);
  padding: 40px;
  border-radius: 10px;
}
