/* .contact-wrapper{
    background-color: rgb(255, 255, 255);
} */

/* #outlined-required{
    visibility: hidden;
} */

/* #outlined-multiline-flexible{
    display: none !important;
    visibility: hidden;
} */

.contact-wrapper-show{
  background-color: rgb(233, 235, 227);
  width: 60%;
  padding: 15px;
  border-radius: 3px;
}
