.contact-list {
  flex: 10;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  /* height: calc(100vh - 150px); */
  overflow-y: scroll;
  /* scrollbar-color: grey; */
}
::-webkit-scrollbar,
::-webkit-scrollbar-track {
  opacity: 0;
}
::-webkit-scrollbar,
::-webkit-scrollbar-track {
  background: #fff;
}
